<div class="jumbotron center">
	<h1>Pinterested</h1>
	<h2>A Pinterest Clone by Alan M. Rhode, CFP®</h2>
	<%= link_to "Login", root_path, class: "btn btn-default" %>
	<%= link_to "Join", root_path, class: "btn btn-primary" %>
</div>